body {
  margin: 0;
}

/* 프로필 이미지 */
.img {
  justify-content: center;
}
#porfile-img {
  transition: all 0.5s ease-in-out;
  /* object-fit: cover; */
  
height: 150px;
border: 1px solid gray;
transform: scale(1); /* 이미지 사이즈 고정 */
border-radius: 100%
}

.menu-bar {
  position:  fixed;
  border: 0;
  background-color: rgb(0, 0, 0);
  display: block;
  width: 200px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.index {
  text-align: center;
  display: flex;
  flex-direction: column;
}
/* 목차 */
.index h3 {
  color: white;
  opacity: 0.7;
  text-decoration: none;
  cursor: pointer;
}
#boardBtn{
  text-decoration-line: none;
  color: white;
}
/* 목차 각 항목 반응형 커서 */
.index h3:hover {
  font-size: 1.1em;
  opacity: 1;
  text-shadow: 0.7px 0.7px 0.7px #000;
}
section {
  margin-left: 260px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
p {
  margin: 0;
}


/* ABOUT part*/

.name {
  font-size: 65px;
  font-weight: 900;
  font-family: 'Oswald', sans-serif;
}
.contacts {
  font-size: 15px;
  opacity: 0.5;
  font-family: 'Roboto Mono', monospace;
  font-style: italic;
}
.main-introduction {
  font-size: 17px;
  font-family: 'Noto Sans KR', sans-serif;
  opacity: 0.8;
}
/* sns 픽토그램 */
.fa-brands {
  color: black;
  opacity: 0.4
}
.fa-solid {
  color: black;
  opacity: 0.4
}
.sns-pictogram i {
  margin-right: 40px;
}
/*픽토그램 반응형 커서*/
footer i:hover {
  transform: translate(0, -3px);
}


/* EXPERIENCE part */

.experience img {
  
  border: 2px;
  border-style: solid;
  border-color: gray;
  
  transition: all 0.5s ease-in-out;
  object-fit: cover;
  height: 200px;
}
/* 커서 올릴 시 이미지 크게(모든 이미지 파일에 적용) */
img:hover {
  transform: scale(1.7);
  z-index: 1;
  align-items: center;
}
.experience p{
  font-size: 55px;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
}
/* for layout */
.contents1 {
  width: 700px;
}
 
/* 일한 기간 */
.year {
  font-family: 'Oswald', sans-serif;
  font-size: 17px;
  opacity: 0.5;
}


 

/* INTERESTS part */
.whatilove-text {
  font-size: 55px;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
}
.whatilove-img {
  margin-bottom: 20px;
  
}
.whatilove-img img {
  object-fit: cover;
  height: 200px;
  transition: all 0.5s ease-in-out;
  border: 2px;
  border-style: solid;
  border-color: gray;
}
/* 하단 코멘트 */
.favorites .comment {
  font-size: 16px;
  font-weight: bold;
}
.experience .comment {
  font-size: 16px;
}

 